<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootpractice.demo.tx.transactional.dao.mapper.UserLoginEntityMapper">
    <select id="getUserLoginById" parameterType="java.lang.Integer"
            resultType="com.springbootpractice.demo.tx.transactional.dao.entity.UserLoginEntity">
        SELECT *
        FROM user_login
        where id = #{id}
    </select>

    <insert id="insertUserLogin"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_login(user_name, password, sex, note)
        VALUES (#{param.userName}, #{param.password}, #{param.sex}, #{param.note})
    </insert>
</mapper>
